In [2]:
import pandas as pd
import numpy as np
import os
from scipy import stats
import matplotlib.pyplot
%matplotlib inline

In [4]:
bct = np.load('/Users/megmcmahon/GitHub/AgingStudy/analysis/fc/data/MemMatch2_bct_ya_thr_1.npy')
mem = pd.read_csv('/Users/megmcmahon/GitHub/AgingStudy/behavioral/data/memmatch_results.csv')

In [5]:
bct[:5]

array([[0.5049428 , 0.20880888, 0.06955208, 0.41887861,        inf,
        0.13612687],
       [0.50397162, 0.18476721, 0.07614307, 0.4359747 ,        inf,
        0.13471581],
       [0.50516502, 0.18972739, 0.07586824, 0.42874987,        inf,
        0.14405593],
       [0.5046949 ,        inf, 0.08116713, 0.41684899,        inf,
        0.13349711],
       [0.50441295, 0.18835827, 0.07563163, 0.44009656,        inf,
        0.12303574]])

In [6]:
mem[:5]

,record_id,accuracy,accuracy_fo,accuracy_fo_match,accuracy_fo_mismatch,accuracy_match,accuracy_mismatch,accuracy_so,accuracy_so_match,accuracy_so_mismatch,rt,rt_fo,rt_fo_match,rt_fo_mismatch,rt_match,rt_mismatch,rt_so,rt_so_match,rt_so_mismatch
0,30004,0.972222,1.000000,1.000000,1.000000,0.958333,1.000000,0.888889,0.888889,1.000000,11297.878788,11217.842593,11192.166667,11248.333333,11284.419048,11322.261905,11327.398810,11339.722222,11393.850000
1,30008,0.944444,1.000000,1.000000,1.000000,0.933333,0.933333,0.888889,0.888889,0.888889,11504.638889,11484.055556,11485.611111,11449.194444,11501.126984,11445.888889,11460.866667,11508.055556,11430.222222
2,30009,0.972222,1.000000,1.000000,1.000000,1.000000,0.944444,0.933333,1.000000,0.833333,11405.333333,11253.799603,11195.111111,11289.916667,11373.500000,11372.188889,11447.898148,11485.388889,11455.866667
3,30012,0.805556,0.952381,0.933333,1.000000,0.861111,0.736111,0.642593,0.822222,0.472222,11539.750000,11526.347222,11580.000000,11492.500000,11552.827778,11430.485714,11626.015873,11593.250000,11441.416667
4,30015,0.888889,0.819048,1.000000,0.583333,1.000000,0.763492,0.944444,1.000000,0.888889,11690.603535,11402.388889,11229.888889,11814.166667,11403.817460,11962.400000,11728.704762,11597.444444,11891.777778